.header-parent {
  .logo-image {
    width: 235px;
    height: 35px;
  }

  .brand-separator {
    border-left: 2px solid black;
    display: inline;
    padding: 9px 0;
  }


  .icon-size{
    font-size: 30px;
  }
}