<div class="header">
    <h2><b>Features</b></h2>
</div>
<div class="c-table" data-f-loc-ascending="Sorted by {0} - ascending"
    data-f-loc-descending="Sorted by {0} - descending">
    <table data-f-sort="true">
        <thead>
            <tr>
                <th id="featureName" scope="col" class="headertext" class= "f-sortable" colspan="1" aria-sort="ascending">
                    <button>Feature Name</button>
                </th>
                <th id="description" scope="col" class="headertext" colspan="1" aria-sort="none">
                    <button>Description</button>
                </th>
                <th id="createdBy" scope="col" class="headertext" class= "f-sortable" colspan="1" aria-sort="ascending">
                    <button>Created By</button>
                </th>
                <th id="createddate" scope="colgroup" class="headertext" class= "f-sortable" aria-sort="ascending">
                    <button>Created Date</button>
                </th>
                <th id="lastupdatedby" scope="col" class="headertext" class= "f-sortable" colspan="1" aria-sort="ascending">
                    <button>Last Updated By</button>
                </th>
                <th id="lastupdateddate" scope="colgroup" class="headertext" class= "f-sortable" aria-sort="ascending">
                    <button>Last Updated Date</button>
                </th>
                <th id="toggle" scope="colgroup" class="headertext" aria-sort="ascending">
                    <button>Toggle</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
            <tr>
                <td headers="featureName">Feature Name</td>
                <td>Description</td>
                <td>Creator</td>
                <td>01/01/2020</td>
                <td>Updater</td>
                <td>01/01/2020</td>
                <label class="switch">
                    <input type="checkbox" style="color:Tomato;" >
                    <span class="slider round"></span>
                  </label>
            </tr>
        </tbody>
    </table>
</div>