<div class="c-table" data-f-loc-ascending="Sorted by {0} - ascending" data-f-loc-descending="Sorted by {0} - descending">
    <table data-f-sort="true">
        <caption>Features</caption>
        <thead>
            <tr>
                <th id="subcategoryItem" scope="col" class="f-sortable" colspan="1" rowspan="2" aria-sort="none">
                    <button aria-label="Sort by Item">Item</button>
                </th>
                <th id="subcategoryDimensions" scope="colgroup" colspan="3" rowspan="1">Dimensions</th>
                <th scope="colgroup"></th>
                <th id="subcategoryConnectivity" scope="colgroup" colspan="3" rowspan="1">Connectivity</th>
                <th id="subcategoryPrice" scope="col" class="f-sortable f-numerical" colspan="1" rowspan="2" aria-sort="none">
                    <button aria-label="Sort by Price">Price</button>
                </th>
            </tr>
            <tr>
                <th id="subcategoryLength" scope="col" class="f-sortable f-numerical" colspan="1" aria-sort="none">
                    <button aria-label="Sort by Length">Length</button>
                </th>
                <th id="subcategoryWidth" scope="col" class="f-sortable f-numerical" colspan="1" aria-sort="none">
                    <button aria-label="Sort by Width">Width</button>
                </th>
                <th id="subcategoryHeight" scope="col" class="f-sortable f-numerical" colspan="1" aria-sort="none">
                    <button aria-label="Sort by Height">Height</button>
                </th>
                <th scope="colgroup"></th>
                <th id="subcategoryWifi" scope="colgroup" class="f-sortable" aria-sort="none">
                    <button aria-label="Sort by Wi-Fi">Wi-Fi</button>
                </th>
                <th id="subcategory3gLTE" scope="col" class="f-sortable" colspan="1" aria-sort="none">
                    <button aria-label="Sort by 3G/LTE">3G/LTE</button>
                </th>
                <th id="subcategoryBluetooth" scope="colgroup" class="f-sortable" aria-sort="none">
                    <button aria-label="Sort by Bluetooth">Bluetooth</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="subcategoryItem">Zeta</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryLength">10cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryWidth">1cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryHeight">35cm</td>
                <td></td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryWifi">Yes</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategory3gLTE">3G</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryBluetooth">Yes</td>
                <td class="f-numerical" headers="subcategoryPrice">
                    <div class="c-price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <span>$</span>
                        <span itemprop="price">500</span>
                        <link itemprop="availability" href="https://schema.org/InStock">
                    </div>
                </td>
            </tr>
            <tr>
                <td headers="subcategoryItem">Bravo</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryLength">29cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryWidth">3cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryHeight">40cm</td>
                <td></td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryWifi">No</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategory3gLTE">LTE</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryBluetooth">Yes</td>
                <td class="f-numerical" headers="subcategoryPrice">
                    <div class="c-price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <span>$</span>
                        <span itemprop="price">1,000</span>
                        <link itemprop="availability" href="https://schema.org/InStock">
                    </div>
                </td>
            </tr>
            <tr>
                <td headers="subcategoryItem">Charlie</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryLength">40cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryWidth">5cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryHeight">80cm</td>
                <td></td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryWifi">Yes</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategory3gLTE">3G</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryBluetooth">Yes</td>
                <td class="f-numerical" headers="subcategoryPrice">
                    <div class="c-price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <span>$</span>
                        <span itemprop="price">999</span>
                        <link itemprop="availability" href="https://schema.org/InStock">
                    </div>
                </td>
            </tr>
            <tr>
                <td headers="subcategoryItem">Delta</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryLength">35cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryWidth">6cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryHeight">50cm</td>
                <td></td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryWifi">No</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategory3gLTE">LTE</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryBluetooth">No</td>
                <td class="f-numerical" headers="subcategoryPrice">
                    <div class="c-price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <span>$</span>
                        <span itemprop="price">2,000</span>
                        <link itemprop="availability" href="https://schema.org/InStock">
                    </div>
                </td>
            </tr>
            <tr>
                <td headers="subcategoryItem">Echo</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryLength">30cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryWidth">2cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryHeight">30cm</td>
                <td></td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryWifi">Yes</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategory3gLTE">3G</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryBluetooth">Yes</td>
                <td class="f-numerical" headers="subcategoryPrice">
                    <div class="c-price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <span>$</span>
                        <span itemprop="price">1,000</span>
                        <link itemprop="availability" href="https://schema.org/InStock">
                    </div>
                </td>
            </tr>
            <tr>
                <td headers="subcategoryItem">Foxtrot</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryLength">10cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryWidth">2.5cm</td>
                <td class="f-numerical f-sub-categorical" headers="subcategoryDimensions subcategoryHeight">33cm</td>
                <td></td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryWifi">Yes</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategory3gLTE">3G</td>
                <td class="f-sub-categorical" headers="subcategoryConnectivity subcategoryBluetooth">No</td>
                <td class="f-numerical" headers="subcategoryPrice">
                    <div class="c-price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <span>$</span>
                        <span itemprop="price">899</span>
                        <link itemprop="availability" href="https://schema.org/InStock">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>