<div class="login-page">
    <div class="row login-compartment">
        <div class="login-box">
            <h3 class="c-heading-3 x-p-t-0x">Welcome</h3>
            <p class="c-subheading-3">Please Log In</p>
            <div class="c-paragraph x-m-t-12x font-weight-bold">Username</div>
            <input class="c-text-field f-flex username-width" placeholder="Enter your User Name" type="text">            
            <div class="c-paragraph x-m-t-10x font-weight-bold">Password</div>            
            <input class="c-password f-flex" placeholder="Enter your Password" type="password">                
            <div class="d-flex flex-row-reverse x-m-t-10x">
                <a href="#" class="c-call-to-action c-glyph f-lightweight">
                    <span>Continue</span>
                </a>
            </div>            
        </div>
    </div>
</div>